# Hugo default output directory
/.web/public
/.web/resources

# For local theme debug
/.web/themes/newdocs-dev

# NPM
node_modules

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
.idea
