# Ignore artifacts:
build
coverage

# Ignore CLA
contents*/cla.md

# Hugo default output directory
/.web/public
/.web/resources

# NPM
node_modules

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Others
/.web/layouts/partials/nep-git-info.html