{{/* 
  This template is modified from NewDocs Theme for NEPs repo
*/}}
{{ if or .File  .Site.Params.NewDocsRepo .Site.Params.NewDocsViewPath }}
  <section class="git-info">
    <div class="item links">
      {{ if .Site.Params.NewDocsViewPath }}
        <a href="{{ .Site.Params.NewDocsRepo }}/{{ .Site.Params.NewDocsViewPath }}{{ replace .File.Path "\\" "/" }}" target="_blank" title="{{ .Page.Title }} {{ i18n "git-source" }}" rel="noopener" >
          <i class="nf nf-fa-code"></i> {{ i18n "git-source" }}
          </a>
      {{ end }}
      {{ if .Site.Params.NewDocsEditPath }}
        <a
          href="{{ .Site.Params.NewDocsRepo }}/{{ .Site.Params.NewDocsEditPath }}{{ replace .File.Path "\\" "/" }}"
          title="{{ i18n "git-edit" }} {{ .Page.Title }}"
          target="_blank"
          rel="noopener"
          >
          <i class="nf nf-fa-edit"></i> {{ i18n "git-edit" }}
          </a>
      {{ end }}
    </div>
  </section>
{{ end }}